<html>
    <head>
    </head>
    <body>
        <main class="container">
            <h1>The Wall!</h1>
            <ul class="list-group">
            </ul>
            <ul class="list-group">
                <% posts.forEach((post) => { %>
                    <li class="list-group-item">
                        <a href="/posts/<%= post.name %>">  <%= post.name %> : <%= post.text %> </a>
                    </li>
                <% }) %>
            </ul>
            <form action="/posts/create" method="post">
                <div class="form-group">
                  <label for="name">Your Name</label>
                  <input type="text" class="form-control" name="name" aria-describedby="nameHelp" placeholder="Enter Name">
                </div>
                <div class="form-group">
                  <label for="text">Post</label>
                  <textarea rows="4" class="form-control" name="text" placeholder="Write your post here!"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </main>
    </body>
</html>